{% extends 'base.html' %}

{% block title %}
Constology - Projects
{% endblock %}

{% block content %}
    <div class ="col-md-8">
        <h1>Company Information</h1>
        
        {% include '_flashmessages.html' %}
        <div style="overflow-x:auto;">
        <table class='table table-hover table-responsive'>
        <tr>
            <th>Company Ref</th>
            <td>{{ subcontractor.code }}</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>{{ subcontractor.name }}</td>
        </tr>
        <tr>
            <th>Company Description</th>
            <td>{{ subcontractor.description }}</td>
        </tr>
        <tr>
            <th>Contact Person</th>
            <td>{{ subcontractor.contact_person }}</td>
        </tr>
        <tr>
            <th>Contact number</th>
            <td>{{ subcontractor.contact_number }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ subcontractor.status }}</td>
        </tr>
        </table>
        </div>
    </div>
{% endblock %}